<%= render partial: "shared/navbar" %>
<div class="container">

  <h1>Edit Team</h1>
  <br /><br />
  <button class="add_field_button">Add player</button><br /><br />
  <%= form_tag team_update_path, method: :post, class: "navbar-form navbar-left search-form" do %>
  <div class="input_fields_wrap container">
    <% @team.players.each_with_index do |player, x| %>
    <div class="player-<%= x+1 %>">
      <label for="first_name">First name</label>
      <input type="text" name="first_name[]" id="first_name_" value="<%= player.first_name %>">
      <label for="last_name">Last name</label>
      <input type="text" name="last_name[]" id="last_name_" value="<%= player.last_name %>">
      <label for="mobile_number">Mobile number</label>
      <input type="text" name="mobile_number[]" id="mobile_number_" value="<%= player.mobile_number %>">
    </div>
    <% end %>
  </div>
  <%= submit_tag "Save Roster", id: "save_roster"%>
  <% end %>
</div>
