<%= render partial: "shared/navbar" %>
<div class="container">

  <h1>Coach's Dashboard</h1>
  <div class="container">
    <% @teams.each_with_index do |team, x| %>
      <div class="team_list team-<%= x+1 %>">
        <h2><%= team.name %> <%= link_to "Edit", team_edit_path(team_slug: team.slug), class: "btn btn-primary" %></h2>
        <h4><%= team.players.count %> Player(s)</h4>
        <% team.players.each do |player| %>
        <ul class="list-unstyled">
          <li><%= "Name: #{player.full_name}" %></li>
          <li><ul>
            <li><%= "Mobile Number: #{player.mobile_number}" %></li>
          </ul></li>
        </ul>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= link_to "Create Team", team_new_path, class: "btn btn-primary" %>
</div>
